<script>
    function status_check(val,factor) {
        if (val == 'Pending') {
            $('#pending_task').text(parseInt($('#pending_task').text()) + factor);
        }
        else if (val == 'In Progress') {
            $('#progress_task').text(parseInt($('#progress_task').text()) + factor);
        }
        else {
            $('#complete_task').text(parseInt($('#complete_task').text()) + factor);
        }
    }

    $('#create_task_btn').click(function (e) {
        e.preventDefault();
        $('.notification .alert').hide();

        my_data = {
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            name: $('#id_name').val(),
            status: $('#id_status').val(),
        }

        $.ajax({
            url: "{% url 'add_task' %}",
            method: "POST",
            data: my_data,
            success: function (data) {
                // console.log(data);
                if (data.status == 'success') {
                    $('#add_task_form').trigger('reset');
                    let output;
                    let task = data.data;

                    output = '<tr><td>' + task.name + '</td><td>' + task.status + '</td><td><i class="fa fa-edit text-primary mr-2"data-toggle="tooltip" title="Edit"></i><i class="fa fa-trash text-danger mr-2" data-toggle="tooltip" data-sid="'+task.id+'" id="dlt_btn" title="Delete"></i></td></tr>';

                    $('#task_tbody').append(output);

                    //color and summary
                    $('#total_task').text(parseInt($('#total_task').text()) + 1);

                    if (task.status == 'Pending') {
                        $('#task_tbody').find('tr').last().addClass('table-danger');
                    }
                    else if (task.status == 'In Progress') {
                        $('#task_tbody').find('tr').last().addClass('table-warning');
                    }
                    else {
                        $('#task_tbody').find('tr').last().addClass('table-success');
                    }

                    status_check(task.status,1);

                    //notification
                    $('.notification #task_added').show(500);

                }
                else {
                    $('.notification #task_error').show(500);
                }
            }
        })
    })

    $('tbody').on('click','#dlt_btn',function(e){
        e.preventDefault();
        $('.notification .alert').hide();
        // console.log('yo');
        let id = $(this).attr('data-sid');
        my_data = {
            sid : id,
        }

        let my_this = this;
        $.ajax({
            url: "{% url 'delete_task' %}",
            method: "GET",
            data: my_data,
            success: function(data){
                if (data.status == 'success'){
                    $(my_this).closest('tr').fadeOut(500);

                    //summary
                    $('#total_task').text(parseInt($('#total_task').text()) - 1);
                    status_check(data.task_status,-1);

                    //notification
                    $('#task_delete').show(500);
                }
            }
        })
    })
</script>