.add_task h4,
.task_list h4,
.task_list_summary h4 {
  padding-bottom: 7px;
  border-bottom: 1px white solid;
}

.add_task form {
  color: white;
}
td {
  font-weight: 600;
}

.fa {
  font-size: 18px;
  cursor: pointer;
}

.notification .alert{
  display: none;
}

#edit_task_btn{
  display: none;
}

*{
  overflow-x: hidden;
}

@media screen and (max-width: 425px) {
.title span{
font-size: 18px;
}
}
